/* //////////////////////////////////reset////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "OpenSans", sans-serif;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

.simplebar-content-wrapper {
  overflow: auto;
}

/* //////////////////////////////////////////////////// */
/* Style guide */
/* //////////////////////////////////////////////////// */

.container {
  max-width: 1630px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* button {
  background-color: #9d5cd0;
  border: 3px solid #9d5cd0;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 23px 35px;
  cursor: pointer;
}

button:hover,
button:focus {
  border: 3px solid #d1a9f0;
}

button:active {
  background: #7943a4;
  border: 3px solid #d1a9f0;
}  */

a:focus {
  outline: 2px solid #7943a4;
}

/* //////////////////////////////////////////////////// */
/* header-top */
/* //////////////////////////////////////////////////// */

.header-top {
  background: #000;
}

.nav-top {
  padding-top: 20px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-top__logo {
  width: 173px;
  height: 40px;
}

.menu-top {
  display: flex;
  padding: 0;
  margin-right: 40px;
}

.menu-top__link {
  margin-right: 62px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.5s ease-in-out 0s;
}

.nav-top__enter {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.5s ease-in-out 0s;
}

.menu-top__link:hover,
.nav-top__enter:hover {
  color: #c283f3;
  transition: all 0.5s ease-in-out 0s;
}

.menu-top__link:active,
.nav-top__enter:active {
  color: #9d5cd0;
  outline: none;
  transition: all 0.5s ease-in-out 0s;
}

/* //////////////////////////////////////////////////// */
/* btn header-top enter*/
/* //////////////////////////////////////////////////// */

.nav-top__enter svg > rect,
.nav-top__enter svg > path {
  transition: all 0.5s ease-in-out 0s;
}

.nav-top__enter:hover svg > rect,
.nav-top__enter:hover svg > path {
  fill: #c283f3;
  transition: all 0.5s ease-in-out 0s;
}

.nav-top__enter:active svg > rect,
.nav-top__enter:active svg > path {
  fill: #9d5cd0;
}

/* //////////////////////////////////////////////////// */
/* header-bottom */
/* //////////////////////////////////////////////////// */

.header-bottom {
  background: rgba(0, 0, 0, 0.4);
}

.nav-bottom {
  padding-top: 19px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bottom {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bottom__link:not(:last-child) {
  margin-right: 96px;
}

.menu-bottom__link {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.5s ease-in-out 0s;
}

.menu-bottom__link:hover {
  color: #c283f3;
  transition: all 0.5s ease-in-out 0s;
}

.menu-bottom__link svg > path {
  transition: all 0.5s ease-in-out 0s;
}

.menu-bottom__link:hover svg > path {
  stroke: #c283f3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transform-origin: center center;
  transition: all 0.5s ease-in-out 0s;
}

.menu-bottom__link:active svg > path {
  stroke: #9d5cd0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transform-origin: center center;
  transition: all 0.5s ease-in-out 0s;
}

.submenu {
  margin-top: 35px;
  width: 300px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  padding: 0;
  z-index: 5;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: all 0.5s ease-in-out 0s;
}

.submenu__item:not(:last-child) {
  margin-bottom: 20px;
}

.submenu__link {
  position: relative;
  display: block;
  color: white;
  text-align: left;
  background-image: url(../img/bg/bg_menu.png);
  height: 40px;
  padding: 12px 15px;
  transition: all 0.5s ease-in-out 0s;
}

.submenu__link:hover {
  outline: 2px solid #9d5cd0;
  transition: all 0.5s ease-in-out 0s;
}

.submenu__link:active {
  border: 2px solid #d1a9f0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/bg/bg_menu.png);
  transition: all 0.5s ease-in-out 0s;
}

.menu-bottom > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.menu-bottom__link:active,
.submenu__link:active {
  color: #9d5cd0;
  outline: none;
}

.simplebar-content {
  height: 220px;
  width: 220px;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.simplebar-content-wrapper {
  margin-top: 40px;
}

.simplebar-placeholder {
  height: 300px !important;
}

.simplebar-scrollbar {
  background-color: #9d5cd0;
  width: 3px;
}

.simplebar-track {
  background-color: #000000;
  width: 3px !important;
  margin-right: 20px;
  height: 220px;
  margin-top: 40px;
}

/* //////////////////////////////////////////////////// */
/* Поиск по сайту */
/* //////////////////////////////////////////////////// */

.form-search {
  display: flex;
  margin-top: 2px;
}

.form-search__button {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  padding-right: 6px;
  background: none;
  border: none;
}

.form-search__input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  background: none;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  padding-right: 15px;
  caret-color: #c283f3;
}

.form-search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.form-search__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.form-search__input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.form-search__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.form-search__input,
form svg > rect,
form svg > path {
  transition: all 0.5s ease-in-out 0s;
}

.form-search__input:hover,
form:hover svg > rect,
form:hover svg > path {
  border: none;
  border-bottom: 1px solid #c283f3;
  fill: #c283f3;
  transition: all 0.5s ease-in-out 0s;
}

.form-search__input:focus,
form:focus svg > rect,
form:focus svg > path {
  fill: #c283f3;
  outline: 2px solid #9d5cd0;
  transition: all 0.5s ease-in-out 0s;
}

/* //////////////////////////////////////////////////// */
/* Hero */
/* //////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////// */
/* -- */
/* //////////////////////////////////////////////////// */
